spring:
  application:
    name: io-school

  datasource:
    url: jdbc:h2:file:./data/schoolDB
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop